@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	}
body{
	background-color: #fff;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	}
.demo{
	font-size: 15px;
    font-weight: 500;
    color: #999;
	}
	
	
#mulu{
	z-index: 9999;
	position: relative;
	width: 190px;
	height: 30px;
	margin: 40px 0 0 120px;
	}
#mulu h2{
	font-size: 14px;
	box-shadow: 2px 0 6px 3px #428000;
	-webkit-box-shadow: 2px 0px 6px -3px #428000;
	-moz-box-shadow: 2px 0px 6px -3px #428000;
	}
#mulu h2 a{
	display: block;
	width: 180px;
	padding-left: 10px;
	line-height: 36px;
	background: #00bbbb;
	color: #fff;
	font-size: 15px;
	text-align: center;
	}
/*侧边隐藏区域*/
#mulu ul{
	z-index: 99999;
	position: absolute;
	background-color: #f7f7f7;
	width: 190px;
	height: 486px;
	top: 36px;
	left: 0;
	/*display: none;*/
	}
#mulu ul li{
	padding-bottom: 7px;
	cursor: default;
	}
#mulu ul li .tx{
	height: 35px;
	line-height: 35px;
	background: #f5f5f5;
	text-align: center;
	}
#mulu ul li .tx a{
	font-size: 15px;
	font-weight: bold;
 	-webkit-transition: color 0.1s ease-out 0s;
    -moz-transition: color 0.1s ease-out 0s;
    -ms-transition: color 0.1s ease-out 0s;
    -o-transition: color 0.1s ease-out 0s;
    transition: color 0.1s ease-out 0s;
	}

#mulu ul li dl{
	color: #ffffff;
	overflow: auto;
	padding-top: 4px;
	}
#mulu ul li dt{
	float: left;
	width: 30px;
	padding: 5px 0 0 10px;
	}
#mulu ul li dd{
	float: left;
	width: 150px;
	line-height: 22px;
	padding-top: 2px;
	}
#mulu ul li dd a{
	float: left;
	line-height: 22px;
	white-space: nowrap;
	margin: 0 8px 0 8px;
	color: #d9e7ce;
	-webkit-transition: color 0.1s ease-out 0s;
    -moz-transition: color 0.1s ease-out 0s;
    -ms-transition: color 0.1s ease-out 0s;
    -o-transition: color 0.1s ease-out 0s;
    transition: color 0.1s ease-out 0s;
	}
/*中间隐藏区域*/
#mulu ul li .center{
	position: absolute;
	width: 640px;
	height: 476px;
	left: 190px;
	top: 0;
	background: #fcfcfc;
	border: solid #599900;
	padding: 10px 30px 0 30px;
	border-width: 0px 2px 1px 0;
	box-shadow: 4px 4px 5px -1px #999;
	-moz-box-shadow: 4px 4px 5px -1px #999;
	-webkit-box-shadow: 4px 4px 5px -1px #999;
	-ms-box-shadow: 4px 4px 5px -1px #999;
	display: none;
	}
#mulu ul li .center dl{
	padding: 6px 0 8px 0;
	color: #666;
	}
#mulu ul li .center dt{
	width: 250px;
    padding-left: 0;
    height: 20px;
	}
#mulu ul li .center dd{
	width: 79px;
	padding-left: 15px;
	white-space:nowrap;
	}
#mulu ul li .center .alr{
	position: absolute;
	bottom:20px;
	width: 640px;
	height: 80px;
	overflow: hidden;
	padding-top: 10px;
	}
/*鼠标滑过效果*/
#mulu:hover ul{
	display: block;
	}
#mulu ul li:hover{
	background-color: #00bbbb;
	}
#mulu ul li:hover .tx{
	background-color:#00bbbb;
	
	}
#mulu ul li:hover .tx a{
	color: #fff
	}
#mulu ul li:hover .center{
	display:block;
	}

#mulu ul li:hover dl{
	color:#6e6e6e
	}
#mulu ul li:hover .center a{
	color:#666666
	}
#mulu ul li:hover  .center a:hover{
	color:#cd0606
	}

