@charset "utf-8";
/* CSS Document */

/*
animation-name: 动画名称(默认值为none)
animation-duration: 持续时间(默认值为0)
animation-timing-function: 时间函数(默认值为ease)
animation-delay: 延迟时间(默认值为0)
animation-iteration-count: 循环次数(默认值为1)
animation-direction: 动画方向(默认值为normal)
animation-play-state: 播放状态(默认值为running)
animation-fill-mode: 填充模式(默认值为none)
*/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
     100% {
        opacity: 1
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.slide_01 .slide-content h1{
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
	}
.slide_01 .slide-content p{
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}
.slide_01 .slide-content .m-btn{
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}

/*slide_02*/
.slide_02 .c-img_01{
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
	}
.slide_02 .c-img_02{
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
	}
.slide_02 .c-img_03{
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}
	
.slide_02 h1{
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 2.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}
.slide_02 .slide_p01{
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}
.slide_02 .slide_p02{
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 3.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}
.slide_02 .slide_p03{
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 3.4s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}
.slide_02 .slide_p04{
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 3.6s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}
.slide_02 .m-btn{
	animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 3.8s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}
	
/*slide_03*/
.slide_03 .slide-content h1{
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
	}
.slide_03 .slide-content p{
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}
	
/*section4*/
.section4 .s4_img_01{
	animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}
.section4 .s4_img_02{
	animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}
.section4 .s4_img_03{
	animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0.7s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}
.section4 .s4_img_04{
	animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1.1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: backwards;
	}
	