@charset "utf-8";
/* CSS Document */
*{
	margin: 0 auto;
	padding: 0;
	}
/*公共css*/
a{
    text-decoration:none;
	color:#333;
}
img{
    border: 0;
	vertical-align: middle;
}
li, ol, ul {
    list-style: none;
}
h2, h3 {
	color: #333;
    font-family: "microsoft yahei";
    font-weight: 400;
}
body{
	color: #666;
	font-size: 12px;
	}
/*公共css*/
.w{
	width: 1210px;
	margin: 0 auto;
	}
.style-red{
	color: red;
	}
/*top部分*/
#top{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #f1f1f1;
	}
#top li{
	float: left;
	height: 30px;
	padding: 0 8px;
	}
#top .topleft{
	float: left;
	}
#top .topleft .fore2{
	padding-right: 15px;
	}
#top .topleft li.fore2 .t-right{
	width: 10px;
	height: 8px;
	background: url(../images/all.png) no-repeat -94px -53px;
	position: absolute;
 	top: 12px;
    left: 150px;
    z-index: 1;
	}
#top .topright{
	float: right;
	}

#top #login{
	margin-right: 10px;
	}
#top #login a.zhuce{
	color: red;
	}
#top li.spacer{
	width: 1px;
	height: 12px;
	margin-top: 9px;
	padding: 0;
	background: #ddd;
	overflow: hidden;
	}
#top .dorpdown{
	position: absolute;
	top: 30px;
	line-height: 24px;
	background: #fff;
	border: 1px solid #ddd;
	z-index: 12;
	display: none;
	}
#top .u-pic{
	float: left;
	margin: 5px 20px 0 5px;
	}
#top .u-pic img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	}
#top .u-name{
	padding: 6px 0 0;
	font-weight: 700;
	}
#top .onthelist{
	width: 255px;
	padding: 0 0 0 15px;
	margin: 5px 0;
	overflow: hidden;
	margin-bottom: 10px;
	}
#top .onthelist .fore1,
#top .onthelist .fore2{
	float: left;
	width: 126px;
	}
#top .topright .fore3,
#top .topright .fore7,
#top .topright .fore8,
#top .topright .fore9{
	position: relative;
	padding-right: 25px;
	}
#top .topright .fore6{
	position: relative;
	padding-left: 25px;
	padding-right: 25px;
	}
#top .topright .fore6 .t-left{
	top: 5px;
	left: 7px;
	width: 15px;
	height: 20px;
	background: url('../images/jdimg.png') no-repeat -2px -1px;
	z-index: 20;
	position: absolute;
	}
#top .topright .fore6 .t-right{
	width: 10px;
	height: 8px;
	background: url(../images/all.png) no-repeat -94px -53px;
	position: absolute;
	top: 11px;
	left: 81px;
	}
#top .topright .t-right{
	width: 10px;
	height: 8px;
	background: url(../images/all.png) no-repeat -94px -53px;
	position: absolute;
	top: 11px;
	left: 64px;
	}

#top .jd-cpp{
	position: relative;
	width: 250px;
	height: 195px;
	overflow: hidden;
	}
#top .guanzhu{
	position: relative;
	width: 82px;
	height: 105px;
	padding-bottom: 8px;
	overflow: hidden;
	}
#top .dd-spacer{
	padding-bottom: 20px;
	}
#top .item-client{
	float: left;
	width: 170px;
	font-weight: 700;
	padding-left: 15px;
	}	
#top .dd-spacer .item{
	display: block;
	float: left;
	width: 70px;
	padding-left: 15px;
	}	
#top .item-business{
	float: left;
	width: 172px;
	border-top: 1px solid #ddd;
	margin-top: 7px;
	font-weight: 700;
	padding-left: 15px;
	}	

/*显示隐藏区域*/
#top li.fore3:hover,
#top li.fore6:hover,
#top li.fore7:hover,
#top li.fore8:hover{
	background: #fff;
	}	
#top li.fore6 .t-left:hover{
	top: 3px;
	left: 7px;
	width: 15px;
	height: 20px;
	background: url('../images/jdimg.png') no-repeat -2px -24px;

	}
#top li.fore3:hover .dorpdown,
#top li.fore6:hover .dorpdown,
#top li.fore7:hover .dorpdown,
#top li.fore8:hover .dorpdown{
	display: block;
	}


/*搜素区域*/
#main-search{
	width: 100%;
	height: 100px;
	}
#logo{
	position: relative;
	z-index: 12;
	float: left;
	width: 362px;
	height: 60px;
	padding: 20px 0;
	}
#logo .logos{
	display: block;
	float: left;
	width: 270px;
	height: 60px;
	background: url('../images/logo.png') no-repeat;
	}
#search{
	position: relative;
	z-index: 11;
	float: left;
	width: 462px;
	margin-top: 25px; 
	}
#search .form{
	width: 462px;
	height: 36px;
	}
#search .txt{
	float: left;
	width: 370px;
	height: 24px;
	line-height: 24px;
	color: #666;
	padding: 4px;
	border: solid #B61D1D;
	border-width: 2px 0 2px 2px;
	font-size: 14px;
	font-family: "microsoft yahei"
	}
#search .button{
	float: left;
	width: 82px;
	height: 36px;
	background: #B61D1D;
	border: none;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	}
.hotword{
	float: left;
	width: 462px;
	height: 20px;
	margin-top: 5px;
	line-height: 20px;
	overflow: hidden; 
	}
.hotword a{
	float: left;
	white-space: nowrap;
	margin-right: 10px;
	}
#gwche{
	position: relative;
	float: right;
	width: 75px;
	height: 36px;
	margin-top: 25px;
	margin-right: 65px;
	border: 1px solid #DFDFDF;
	padding: 0 28px 0 36px;
	background: #F9F9F9;
	text-align: center;
	line-height: 34px;
	z-index: 10;
	}
#gwche .ci-left{
	display: block;
	position: absolute;
	top: 9px;
	left: 18px;
	width: 18px;
	height: 16px;
	background: url(../images/jdimg.png) 0 -58px no-repeat;
	overflow: hidden;
	}
#gwche .ci-right{
	position: absolute;
	top: 11px;
	right: 10px;
	width: 7px;
	height: 13px;
	overflow: hidden;
	font-size: 14px;
	color: #666;
	}
#gwche .ci-count{
	position: absolute;
	top: -4px;
	left: 104px;
	display: inline-block;
	padding: 1px 2px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #c81623;
	border-radius: 7px 7px 7px 0;
	text-align: center;
	min-width: 12px;
	}
#gwche .hideche{
	width: 320px;
	height: 55px;
	background: white;
	position: absolute;
	top: 36px;
	left: -192px;
	text-align: center;
	padding: 10px 5px;
	z-index: 2;
	display: none;
	}
#gwche .hideche span{
	line-height: 50px;
	color: #999;
	}
#gwche .hideche .nogoods{
	float: left;
	width: 56px;
	height: 49px;
	background-image: url('../images/kongche.png');
	}
/*显示隐藏区域*/	
#gwche:hover .hideche{
	display: block;
	opacity: 2;
	}
#gwche:hover{
	border-bottom: none;
	background: #fff;
	}
	
	
/*导航区域*/
#nav{
	height: 44px;
	border-bottom: 2px solid #B1191A;
	}
#nav .w{
	position: relative;
	z-index: 9;
	height: 44px;
	}
#nav .nav-left{
	float: left;
	width: 210px;
	height: 44px;
	}
#nav .nav-left > a{
	display: block;
	width: 190px;
	height: 44px;
	padding: 0 10px;
	color: #fff;
	background: #B1191A;
	font-size: 16px;
	line-height: 44px;
	}
#nav .nav-right{
	float: left;
	position: relative;
	z-index: 2;
	}
#nav .nav-right li{
	float: left;
	height: 44px;
	padding: 0 20px;
	line-height: 44px;
	text-align: center;
	color: #333;
	font-size: 16px;
	}
#nav .nav-bg{
	width: 289px;
	height: 137px;
	left: 542px;
	top: -94px;
	position: relative;
	cursor: pointer;
	display: block;
	background: url("../images/57e4eb03Ne467867b.png") no-repeat;
	}
#list{
	height: 464px;
	background: #c81623;
	margin-top: 2px;
	}
#list > ul > li{
	height: 31px;
	border-left: 1px solid #b61d1d;
	color: #fff;
	}
#list .mulu{
	position: relative;
	height: 31px;
	}
#list .mulu a{
	position: relative;
	height: 31px;
	padding-left: 10px;
	font-size: 14px;
	line-height: 31px;
	color: #fff;
	}
#list .mulu .jian{
	position: absolute;
	width: 10px;
	height: 10px;
	top: 7px;
	right: 3px;
	background: url(../images/all.png) no-repeat -110px -45px;
	}
#list #hidemulu{
	position: absolute;
	width: 999px;
	left: 209px;
	top: 45px;
	z-index: 23;
	border: 1px solid #b61d1d;
	background: #fcfcfc;
	color: #f7f7f7;
	display: none;
	}
 .hideleft{
	float: left;
	width: 810px;
	}
 .hideleft > ul{
	float: left;
	display: inline;
	height: 24px;
	padding: 20px 0 10px 20px;
	background: #f7f7f7;
	}
 .hideleft > ul > li{
	float: left;
	display: inline-block;
	padding: 0 0 0 8px;
	margin-right: 10px;
	height: 27px;
	line-height: 27px;
	background: #7C7171;
	color: #fff;
	white-space: nowrap;
	}
 .hideleft > ul > li > a{
	color: #fff;
	}
 .hideleft > li > i{
	display: block;
	margin-left: 8px;
	width: 23px;
	height: 24px;
	font: 400 9px/24px consolas;
	background: #5c5251;
	text-align: center;
	cursor: pointer;
	}
 .hideleft dl{
	float: left;
	width: 790px;
	color: #333;
	}
 .hideleft dl dt{
	position: relative;
	float: left;
	width: 61px;
	height: 30px;
	padding: 8px 15px 0 10px;
	text-align: right;
	font-weight: 700;
	}
 .hideleft dl dd{
	float: left;
	padding: 0 8px;
	margin: 4px 0;
	line-height: 16px;
	height: 16px;
	width: 70px;
	white-space: nowrap;
	}
 .hideleft dl dd a{
	font-size: 12px;
	font-weight: 400;
	padding: 0px 8px;
	color: #666;
	border-left: 1px solid #ccc;
	}
 .hideright{
	float: right;
	display: inline;
	width: 168px;
	margin: 19px 20px 10px 0;
	}
 .hideright .hide1 a{
	float: left;
	display: inline;
	margin: 2px 0 0 1px;
	}
 .hideright .hide2 a{
	float: left;
	display: inline;
	margin-top: 4px;
	}
/*显示隐藏区域*/
#list ul li:hover #hidemulu{
	display: block;
	}
#nav #list > ul > li:hover{
	background-color: #fcfcfc;
	}
a:hover{
	color: red;
	}
#nav #list ul li:hover .mulu a{
	color: red;
	}
/*=================================*/
#main{
	width: 1210px;
	height: 467px;
	margin: 0 auto;
	position: relative;
	z-index: 8;
	}
#main #mainleft{
	float: left;
	width: 730px;
	height: 454px;
	margin-left: 220px;
	}
#mainleft .lunbo{
	float: left;
	position: relative;
	width: 730px;
	height: 454px;
	margin-top: 12px;
	overflow: hidden;
	
	}
#mainleft .lunbo .pic{
	position: absolute;
	width: 5110px;
	height: 454px;
	z-index: -1;
	}
#mainleft .lunbo .pic li{
	float: left;
	}
.lunbo #pre{
	
	float: left;
	top: 220px;
	}
.lunbo #next{
	right: 0;
	top: 220px;
	}
 .paga{
	position: absolute;
	width: 28px;
	height: 62px;
	font-size: 25px;
	line-height: 62px;
	text-align: center;
	background: rgba(0,0,0,.2);
	color: wheat;
	cursor: pointer;
	}
 a.paga:hover{
	 color: wheat;
	 }
#mainleft .box {
	position: absolute;
	bottom: 10px;
	left: 310px;
	z-index: 1;
	}
#mainleft .box li{
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	border-radius: 50%;
	background: #3e3e3e;
	cursor: pointer;
	color: wheat;
	z-index: 1;
	}
#mainleft .box .on{
	background: #b61b1f;
	color: #fff;
	}
#mainright{
	float: right;
	width: 248px;
	height: 452px;
	margin-top: 12px;
	}
#news {
	width: 248px;
	height: 163px;
	border: 1px solid #e4e4e4;
	overflow: hidden;
	}
#news .mt{
	height: 32px;
	line-height: 32px;
	}
#news .mt h2{
	float: left;
	margin-left: 5px;
	font-size: 16px;
	}
#news .mt a{
	float: right;
	margin-right: 5px;
	}
#news .mc{
	height: 140px;
	padding: 13px 0 0 15px;
	}
#news .mc li{
	width: 210px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	}
#news .mc li span{
	font-weight: 700;
	margin-right: 5px;
	}
#life{
	float: left;
	position: relative;
	width: 248px;
	height: 210px;
	border: 1px solid #e4e4e4;
	overflow: hidden;
	border-top: none;
	}
#life .life-tu{
	float: left;
	position: absolute;
	top: 0px;
	background: #fff;
	z-index: 12;
	}
#life .life-tu li{
	width: 61px;
	height: 83px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: left;
	cursor: pointer;
	}
#life .life-tu li  a{
	display: block;
	margin-top: 10px;
	color: #666;
	text-align: center;
	}
#life ul li .fore1{
	width: 41px;
	height: 30px;
	margin-left: 7px;
	margin-top: 10px;
	background: url(../images/dd.png) no-repeat;
	}
#life ul li .fore2{
	width: 41px;
	height: 30px;
	margin-left: 7px;
	margin-top: 10px;
	background: url(../images/dd.png) no-repeat 0 -50px;
	}
#life ul li .fore3{
	width: 41px;
	height: 30px;
	margin-left: 7px;
	margin-top: 10px;
	background: url(../images/dd.png) no-repeat -126px 0;
	}
#life ul li .fore4{
	width: 41px;
	height: 30px;
	margin-left: 7px;
	margin-top: 10px;
	background: url(../images/dd.png) no-repeat -189px 0;
	}
#life ul li .fore5{
	width: 41px;
	height: 30px;
	margin-left: 7px;
	margin-top: 10px;
	background: url(../images/dd.png) no-repeat -62px 0;
	}
#life ul li .fore6{
	width: 41px;
	height: 30px;
	margin-left: 7px;
	margin-top: 10px;
	background: url(../images/dd.png) no-repeat -62px -48px;
	}
#life ul li .fore7{
	width: 41px;
	height: 30px;
	margin-left: 7px;
	margin-top: 10px;
	background: url(../images/dd.png) no-repeat -124px -51px;
	}
#life ul li .fore8{
	width: 41px;
	height: 30px;
	margin-left: 7px;
	margin-top: 10px;
	background: url(../images/dd.png) no-repeat -189px -51px;
	}
#life ul li .life-jian{
	width: 10px;
	height: 8px;
	background: url(../images/all.png) no-repeat -94px -53px;
	margin-left: 33px;
	margin-top: 5px;
	}
#life .life-menu{
	float: left;
	height: 28px;
	}
#life .life-menu li{
	float: left;
	width: 61px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
	border: solid #e4e4e4;
	border-width: 0 1px 1px 0;
	}
#life li.current{
	border-top: 2px solid #c81623;
	border-bottom: none;
	}
#life .life-main{
	float: left;
	height: 19px;
	padding: 15px 0 0 8px;
	}
#life .life-main .life-box li{
	display: inline-block;
	width: 60px;
	height: 18px;
	margin-right: 6px;
	text-align: center;
	cursor: pointer; 
	}
#life .life-main .life-box li.on{
	background: url('../images/iframe-san.png') center 0 no-repeat;
	color: #fff;
	}
#life .phone{
	width: 248px;
	height: 47px;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	}
#life .phone dl{
	padding-top: 10px;
	height: 23px;
	line-height: 22px;
	overflow: hidden;
	}
#life .phone dt,
#life .phone dd{
	float: left;
	display: inline;
	margin-right: 5px;
	height: 23px;
	overflow: hidden;
	}
#life .chongzhi{
	width: 248px;
	height: 47px;
	float: left;
	margin-top: -2px;
	margin-left: 10px;
	}
#life .chongzhi a{
	width: 70px;
	height: 26px;
	position: absolute;
	background: #c81623;
	border-radius: 2px;
	color: #fff;
	text-align: center;
	border: 0;
	line-height: 26px;
	vertical-align: middle;
	margin: 30px 0 0 5px;
	}
	
	
#right-pic{
	margin-top: 3px;
	}
	
	
/*商品展示*/
#lifewindow{}
#today{
	height:164px;
	margin: 10px 0 20px;
	}
#today .t-left{
	float: left;
	width: 210px;
	height: 151px;
	background: url('../images/aa.png') no-repeat;
	}
#today .t-right{
	float: left;
	width: 1000px;
	height: 164px;
	position: relative;
	overflow: hidden;
	}
#today .t-right ul{
	position: absolute;
	width: 6000px;
	height: 164px;
	}
#today .t-right ul li{
	float: left;
	width: 1000px;
	height: 154px;
	}
#today .t-right .images{
	float: left;
	width: 250px;
	height: 154px;
	}
#today .t-right #btn-left{
	float: left;
	top: 50px;
	}
#today .t-right #btn-right{
	float: right;
	top: 50px;
	right: 0;
	}
#guess-like{
	height: 269px;
	margin-top: 20px;
	overflow: hidden;
	}
#guess-like .like{
	height: 36px;
	}
#guess-like .like h2{
	float: left;
	width: 308px;
	padding-right: 22px;
	background: url('../images/homebg.png') no-repeat 85px -91px;
	}
#guess-like .like .huan{
	float: right;
	height: 22px;
	width: 45px;
	padding-right: 25px;
	margin-top: 8px;
	background: url('../images/homebg.png') no-repeat -310px -7px;
	}
#guess-like .like-pic{
	height: 232px;
	border: 1px solid #ededed;
	border-top: 0;
	overflow: visible;
	}
#guess-like .space{
	position: relative;
	height: 1px;
	line-height: 0;
	font-size: 0;
	background-color: #d1d1d1;
	}
#guess-like .space i{
	width: 365px;
    height: 5px;
    overflow: hidden;
    position: absolute;
    right: -1px;
    top: -2px;
    background: url('../images/homebg.png') no-repeat 0 -124px;
	}
#guess-like .like-pic ul{
	height: 210px;
	padding-top: 20px;
	overflow: hidden;
	}
#guess-like .like-pic ul li{
	float: left;
	width: 201px;
	padding-bottom: 15px;
	overflow: hidden;
	}
#guess-like .p-img{
	text-align: center;
	padding-bottom: 10px;
	}
#guess-like .p-info{
	padding: 0 36px;
	border-left: 1px solid #e6e6e6;
	}
#guess-like .p-name{
	height: 36px;
	padding-bottom: 6px;
	overflow: hidden;
	}
#guess-like .p-price{
	color: #b51d1a;
	font-size: 18px;
	}
#home{
	height: 463px;
	margin-top: 20px;
	}
#home h2{
	font-size: 20px;
	line-height: 36px;
	color: #333;
	}
#home .h-content{
	height: 405px;
	border: 1px solid #ededed;
	overflow: hidden;
	}
.h-content .h-col1,
.h-content .h-col2,
.h-content .h-col3{
	float: left;
	height: 100%;
	}
.h-content .h-col1,
.h-content .h-col3{
	width: 404px;
	}
.h-big{
	position: relative;
	display: block;
	height: 246px;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
	overflow: hidden;
	}
.h-tit{
	font: 700 15px/40px 'Microsoft Yahei';
	color: #333;
	text-align: center;
	z-index: 1;
	border-bottom: 1px dashed #e0e0e0;
	margin: 0 20px;
	}
.h-info{
	position: absolute;
	left: 10px;
	top: 112px;
	color: #333;
	font-family: 'Microsoft Yahei';
	line-height: 1.2;
	z-index: 2;
	}
.h-info1{
	position: absolute;
	left: 10px;
	top: 52px;
	color: #333;
	font-family: 'Microsoft Yahei';
	line-height: 1.2;
	z-index: 2;
	}
.info1{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 12px;
	}
.info3{
	margin-top: 5px;
	color: #c81623;
	}
.h-small{
	float: left;
	position: relative;
	display: block;
	height: 158px;
	border-bottom: none;
	overflow: hidden;
	}
.h-content .hs-brands{
	float: right;
	position: relative;
	width: 171px;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
	}
.h-content .hs-brands .brands-left{
	position: relative;
	float: left;
	width: 70px;
	height: 381px;
	margin-top: 13px;
	border-right: 1px dashed #e0e0e0;
	}
.h-content .hs-brands .brands-right{
	position: relative;
	float: right;
	width: 85px;
	height: 381px;
	margin-top: 13px;
	border-right: 1px dashed #e0e0e0;
	}
/*楼层*/
.floor-banner{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	}
.floor-banner img{
	float: left;
	width: 400px;
	}
	
	
/*一楼*/
#floor-one{
	height: 670px;
	}
.floor{
	margin-bottom: 20px;
	}
.floor .mt{
	height: 36px;
	border-bottom: 1px solid #c81623;
	overflow: visible;
	}
.floor h2{
	float: left;
	display: inline;
	line-height: 30px;
	font-size: 20px;
	position: relative;
	padding-left: 40px;
	color: #333;
	}
.floor h2 i{
	position: absolute;
	top: 2px;
	left: 0;
	width: 31px;
	height: 25px;
	font-size: 14px;
	color: #fff;
	background-position: 0 -35px;
	background: url('../images/product_home.png') no-repeat 0 0;
	}
.floor .tab{
	float: right;
	display: inline;
	height: 34px;
	line-height: 34px;
	position: relative;
	border: solid 1px #ededed;
	border-bottom: 0 none;
	z-index: 1;
	}
.floor .tab-item{
	float: left;
	text-align: center;
	}
.floor .tab > li.fore1
	{
	width: 50px;
	}	
.floor .tab > li.fore2
	{
	width: 82px;
	}
.floor .tab-item span{
	position: absolute;
	width: 1px;
	background: #ccc;
	overflow: hidden;
	height: 14px;
	top: 10px;
	margin-left: 12px;
	z-index: -1;
	}
.floor .tab > li.fore2 span{
	margin-left: 15px;
	}
.floor .tab-item a{
	font-size: 13px;
	}
	
.floor .tab-selected{
	white-space: nowrap;
	border: solid #c81623;
	border-width: 2px 1px 0 1px;
	height: 33px;
	line-height: 30px;
	color: #c81623;
	text-indent: 1px;
	}
.floor .side{
	float: left;
	width: 330px;
	overflow: hidden;
	font-family: "microsoft yahei";
	}
.floor .side-inner{
	position: relative;
	background: #e5ebeb;
	overflow: hidden;
	}
.floor .side-extra{
	height: 158px;
	border: 1px solid #ededed;
	border-left: 1px solid #f7f5ee;
	border-top: 0;
	overflow: hidden;
	}
.floor .banner {
    position: relative;
    height: 474px;
	}
.floor .banner a{
	display: block;
	}
#clothes .themes {
    padding-left: 25px;
    margin-top: -221px;
	}
.floor .themes {
    position: relative;
    padding-left: 10px;
    height: 92px;
    margin-top: -237px;
    overflow: hidden;
    background: rgba(255,255,255,.5);
	}
#clothes .themes li {
    width: 100px;
	}
.floor .themes li {
    float: left;
    width: 98px;
    height: 26px;
    padding: 10px 0;
	}
.floor .themes .icon{
	float: left;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	width: 26px;
	margin-right: 5px;
	}
#clothes .themes .fore1 .icon{
	background: url('../images/clothes.png') 0 0 no-repeat;
	}
#clothes .themes .fore2 .icon{
	background: url('../images/clothes.png') 0 -26px no-repeat;
	}
#clothes .themes .fore3 .icon{
	background: url('../images/clothes.png') 0 -52px no-repeat;
	}
#clothes .themes .fore4 .icon{
	background: url('../images/clothes.png') 0 -78px no-repeat;
	}
#clothes .themes .fore5 .icon{
	background: url('../images/clothes.png') 0 -104px no-repeat;
	}
#clothes .themes .fore6 .icon{
	background: url('../images/clothes.png') 0 -130px no-repeat;
	}
.floor .themes span{
	float: left;
	font-size: 14px;
	margin-right: 5px;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
	} 
#clothes .words {
    height: 128px;
    border-bottom: 1px solid #ededed;
}
.floor .words {
    position: relative;
    height: 76px;
    background: rgba(255,255,255,.7);
    font-family: 宋体;
	}
#clothes .words li {
    height: 96px;
    padding-top: 16px;
	}
.floor .words li {
    float: left;
    width: 135px;
    height: 48px;
    padding: 7px 0 0 25px;
    overflow: hidden;
	}
.floor .words a {
    float: left;
    margin-right: 10px;
    line-height: 24px;
    white-space: nowrap;
	}
.floor .main{
	position: relative;
	float: left;
	width: 1000px;
	overflow: hidden;
	
	} 
#clothes .main{
	width: 880px;
	height: 633px;
	}
.floor .main-body{
	float: left;
	width: 660px;
	}
.floor .main-body li{
	float: left;
	height: 158px;
	overflow: hidden;
	font-size: 0;
	}
.floor .main-body li.fore1{
	width: 440px;
	}
.floor .main-inner a {
    display: block;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    overflow: hidden;
	}
#clothes .main-body li.fore2 {
    width: 440px;
    height: 159px;
	padding-top: 316px;
	}
.floor .main-body li.fore3,
.floor .main-body li.fore4,
.floor .main-body li.fore5{
	float: right;
	}
#clothes .main-body li.fore3{
	margin-top: -158px;
	}
.floor .main-extra{
	float: left;
	width: 220px;
	}
.floor .main-extra li{
	overflow: hidden;
	}
#clothes .main-extra li.fore3{
	height: 317px;
	}
#clothes .slider{
	top: 158px;
	height: 315px;
	}
.floor .slider{
	position: absolute;
	top: 0;
	left: 0;
	width: 439px;
	height: 236px;
	overflow: hidden;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	}
.floor .slider .slider-body{
	position: absolute;
	}
.floor .slider .slider-body .slider-list{
	width: 2634px;
	position: absolute;
	}
.floor .slider .slider-body li{
	float: left;
	display: list-item;
	z-index: -1;
	}
.floor .slider .slider-nav {
    width: 100%;
    height: 0;
	position: absolute;
    line-height: 0;
    text-align: center;
    bottom: 19px;
    cursor: default;
	}
.floor .slider .slider-nav .on{
	background: #b61b1f;
	color: #fff;
	}
.floor .slider .slider-nav li{
	display: inline-block;
	width: 10px;
	height: 10px;
	line-height: 15px;
	margin-left: 5px;
	text-align: center;
	border-radius: 50%;
	background: #3e3e3e;
	cursor: pointer;
	z-index: 1;
	}
.floor .slider .slider-pre{
	top: 150px;
	float:left;
	}
.floor .slider .slider-next{
	top: 150px;
	right: 0;
	}
.hide{
	display: none;
	}
.floor .p-list{
	width: 890px;
	height: 474px;
	overflow: hidden;
	}
.floor .p-list li {
    float: left;
    width: 160px;
    height: 230px;
    padding: 6px 17px 0;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    overflow: hidden;
	}
.floor .p-list li{
	width: 185px;
	}
.floor .p-list .p-img {
    height: 140px;
    margin-bottom: 4px;
    text-align: center;
    padding-top: 15px;
	}
.floor .p-list .p-price {
    font-size: 15px;
    font-family: Verdana;
    color: #E4393C;
	}
.floor .img-list{
	width: 890px;
	height: 159px;
	overflow: hidden;
	}
.floor .img-list li {
    float: left;
    width: 219px;
    height: 158px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
	}
/*品牌*/
.brands{
	background: #f7f7f7;
	padding: 13px 0 13px 11px;
	margin-top: 10px;
	margin-bottom: 20px;
	}
.brands ul{
	height: 40px;
	}
.brands li{
	float: left;
	width: 120px;
	height: 40px;
	border-left: 1px solid #ccc;
	text-align: center;
	}
.brands li .fore1{
	border-left: none;
	}
	
	
/*二楼*/
#floor-two{
	height: 511px;
	}
#hufu .side{
	width: 210px;
	}

#hufu .themes .fore1 .icon{
	background: url('../images/cosmeticsicon.png') 0 0 no-repeat;
	}
#hufu .themes .fore2 .icon{
	background: url('../images/cosmeticsicon.png') 0 -26px no-repeat;
	}
#hufu .themes .fore3 .icon{
	background: url('../images/cosmeticsicon.png') 0 -52px no-repeat;
	}
#hufu .themes .fore4 .icon{
	background: url('../images/cosmeticsicon.png') 0 -78px no-repeat;
	}
.floor .assists {
    position: relative;
    height: 48px;
    padding: 21px 0 0;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    background: rgba(255,255,255,.7);
	}
.floor .assists li {
    float: left;
    width: 180px;
    height: 24px;
    padding-left: 25px;
    overflow: hidden;
	}
#hufu .words li.fore1 {
	width: 165px;
	}
#hufu .slider{
	width: 339px;
	height: 473px;
	}
#hufu .slider .slider-list{
	position: absolute;
	width: 1695px;
	}
#hufu .slider .slider-list a.fore1 {
    border-bottom: 1px dotted #ccc;
	}
#hufu .slider .slider-list a{
	display: block;
	}
#hufu .main-inner {
    padding-left: 340px;
	}
#hufu .main-body {
    width: 440px;
	}
#hufu .main-body li.fore1,
#hufu .main-body li.fore2 {
    height: 297px;
	}
#hufu .main-body li {
    float: left;
    width: 220px;
    height: 177px;
	}
	
	
/*天天低价*/
.mt{
	height: 36px;
	overflow: hidden;
	}
#lazy-special{
	height: 339px;
	}
#special{
	float: left;
	width: 900px;
	margin-bottom: 20px;
	}
#special h2,
#share h2{
	float: left;
	display: inline;
	line-height: 30px;
	font-size: 20px;
	}
#special .mc {
    width: 900px;
    height: 281px;
    border: solid #E5E5E5;
    border-width: 1px 0 1px 1px;
	}
#special .mc li.fore1{
	width: 219px;
	height: 245px;
	}
#special .mc li {
    float: left;
    width: 199px;
    height: 104px;
    padding: 18px 10px;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    overflow: hidden;
 	}
#special .mc li.fore1 .p-img {
    width: 219px;
    height: 180px;
    margin-bottom: 10px;
    text-align: center;
	}
#special .mc li .p-img {
    float: left;
    width: 100px;
    height: 100px;
	}
#special .mc li .p-img img {
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
	}
#special .mc li .info {
    float: right;
    width: 94px;
	}
#special .mc li.fore1 .p-name {
	width: 200px;
    height: 18px;
	}
#special .mc li .p-name {
    height: 36px;
    margin-bottom: 6px;
    color: #666;
    word-break: break-all;
 	}
.p-name{
	overflow: hidden;
	}
#special .mc li.fore1 .p-price {
    float: left;
	}
#special .mc li .p-price {
    margin-bottom: 5px;
	}
#special .mc li .p-price span {
    display: block;
    color: #e12228;
    font-size: 16px;
    font-weight: 700;
	}
#share{
	float: left;
	width: 300px;;
	}
#share .mc {
    width: 268px;
    height: 226px;
	padding: 35px 20px 20px;
    border: 1px solid #EDEDED;
	}
#share .shaidan {
    position: relative;
    overflow: hidden;
    height: 240px;
	width: 268px;
	}
#share .mc li {
    height: 100px;
    margin-bottom: 23px;
    overflow: hidden;
	}
#share .p-img {
    float: left;
    display: inline;
    padding: 10px 0;
    width: 80px;
    height: 80px;
	}
#share .hotname {
    height: 34px;
    margin-bottom: 5px;
    overflow: hidden;
	}
#share .hotinfo {
    position: relative;
    width: 130px;
    height: 34px;
    padding: 10px 15px 10px 20px;
    background: #f8f8f8;
    color: #999;
    overflow: visible;
	}



/*详情指南*/
#xiangqing{
	margin-top: 20px;
	}
#xiangqing .slogen{
	position: relative;
	height: 54px;
	padding: 20px 0;
	margin-bottom: 14px;
	background: #F5F5F5;
	margin-left: 70px;
	}
#xiangqing .slogen li{
	float: left;
	width: 302px;
	height: 54px;
	}
#xiangqing .zhinan{
	width: 1210px;
	height: 176px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	}
#xiangqing dl{
	float: left;
	width: 199px;
	}
#xiangqing dl.fore5{
	float: left;
	width: 100px;
	}
#xiangqing dt{
	padding: 6px 0;
	font-size: 16px;
	color: #666;
	}
#xiangqing dd{
	line-height: 20px;
	}
#coverage{
	float: right;
	width: 310px;
	height: 168px;
	background: url('../images/ditu.png') no-repeat;
	background-position: 100px -130px;
	}
#coverage .dt{
	padding: 6px 40px 15px 80px;
	font-size: 16px;
	}
#coverage .dd{
	padding: 0 40px 15px 80px;
	}
#coverage .dd p{
	text-align: right;
	}
	

/*底部*/
#down{
	width: 1210px;
	height: 150px;
	margin: 20px 0 30px 0;
	text-align: center;
	}
#down .down_top{
	width: 1210px;
	height: 18px;
	}
#down .down_top a{
	padding-right: 10px;
	padding-left: 10px;
	line-height: 18px;
	border-right: 1px solid #ccc;
	color: #666;
	}
#down .down_center{
	width: 1210px;
	height: 72px;
	float: left;
	margin: 10px 0;
	}
#down .down_center span{
	width: 1210px;
	height: 14px;
	float: left;
	margin-top: 5px;
	text-align: center;
	color: #666;
	}
#down .down_center a{
	padding-left: 5px;
	color: #666;
	}
#down .down_bot{
	width: 1210px;
	height: 40px;
	float: left;
	text-align: center;
	}
#down .down_bot img{
	margin: 10px 0 0 10px;
	}