@charset "utf-8";
/* CSS Document */
html,body,div,span,p,h1,h2,h3,h3,a,img,ul,li{
	padding: 0;
	margin: 0;
	border: 0;
	}
.container{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	}
.clean{
	padding-left: 0;
	padding-right: 0;
	}
ul li{
	list-style: none;
	}
a{
	color: #000;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	}
a:hover{
	text-decoration: none;
	}
h1 h2 h3 h4 h5{
	margin: 10px 0;
	}
	
.head{
	position: relative;
	height: 54px;
	width: 100%;
	border-bottom: 1px solid #FC368A;
	margin-bottom: 10px;
	}
.head-content{
	
	}
.head-content ul{
	float: right;
	}
.head .head-content ul li{
	float: left;
    height: 54px;
    padding: 0 20px;
    line-height: 44px;
    
    color: #333;
    font-size: 16px;
	}
.head .head-content ul li:first a{
	letter-spacing:2em;
	}
.head .head-content ul li a:hover{
	color: #F06;
	}
.hide{
	position: absolute;
    width: 66px;
    height: 95px;
    background: #F10E52;
    padding: 10px;
    z-index: 1;
	display: none;
	}
.hide p{
	line-height: 20px;
	color: #000;
	padding-bottom: 7px;
	}
.hide p a{
	color: #fff;
	}
.head .head-content ul li:hover .hide{
	display: block;
	}

.main{
	position: relative;
	width: 100%;
	display: flex;
	-webkit-display: flex;
	padding: 10px 0;
	}
.slide_img{
	position: relative;
	width: 800px;
	height: 300px;
	overflow: hidden;
	}
#images{
	position: absolute;
	width: 3200px;
	}
#images li{
	float: left;
	}

.btn{
	position: absolute;
    width: 55px;
    height: 60px;
    z-index: 1;
	text-align: center;
    top: 40%;
    background: rgba(0,0,0,0.5);
    color: #fff;
	line-height: 2em;
	font-size: 24px;
	}
.btn-right{
	width: 10%;
	}
.btn-left{
	width: 10%;
	text-align: right;
	}
	
.section{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 30px 0;
	}
.section .s1_content{
	width: 1200px;
	height: 570px
	}
.s_left{
	display: block;
	width: 300px;
    padding: 20px 20px;
	float: left;
	}
.s_left .content{
	border: 1px solid #000;
	padding: 10px;
	margin-bottom: 20px;
	}
.s_left .fore2{
	border: 1px solid #f00;
    width: 90px;
    padding: 0 10px;
    height: 38px;
	line-height: 46px;
	margin-bottom: 10px;
	}
.contact{
	margin-bottom: 10px;
	}
.contact img{
	padding: 0 10px;
	}
.contact a{
	margin-left: 15px;
	}
	
.s_right{
	display: block;
	width: 700px;
	padding: 0 10px;
	float: right
	}
.s_right .fore1{
	text-align: left;
	}
.s_slide{
	position: relative;
	width: 530px;
	height: 398px;
	overflow: hidden;
	}
.s_img{
	position: absolute;
	width: 2120px;
	height: 398px;
	}
.s_img li{
	float: left;
	}
.s_num{
	position: relative;
    width: 530px;
    left: 0;
    text-align: center;
    font-size: 0;
    z-index: 1;
	}
.s_num li{
	height: 20px;
    width: 20px;
    border: 1px solid #fff;
    display: inline-block;
    margin: 10px 15px;
    border-radius: 50px;
	background: #CCC;
	}
.s_num li.active{
	background: #F33;
	}
